/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2018, 9:04:08 PM
    Author     : jan
*/

.message-ok {  
  width: 100%;
  background-color: #b1dfbb;
  color: #1c7430;
}

.message-error {
  border-radius: 4px;
  width: 100%;
  background-color: mistyrose;
  color: #C82829;
}

.message-error ul {
  list-style-type: none;
  text-align: center;
  padding: 8px;
}

.message-ok ul {
  list-style-type: none;
  text-align: center;
  padding: 8px;
}

/* links list */
#all-links {}

#all-links ul {
  padding-left: 0;
  text-align: center;
}

#all-links ul li {
  list-style-type: none;
  padding: 5px 3px;
}

#all-links ul li:nth-child(odd) {
  background-color: #e3f2ec;  
}

#all-links ul li:nth-child(even) {
  background-color: #F5F5F5;  
}

