
.message-ok {  
  width: 100%;
  background-color: #b1dfbb;
  color: #1c7430;
}

.message-error {
  border-radius: 4px;
  width: 100%;
  background-color: mistyrose;
  color: #C82829;
}

.message-error ul {
  list-style-type: none;
  text-align: center;
  padding: 8px;
}

.message-ok ul {
  list-style-type: none;
  text-align: center;
  padding: 8px;
}

/* links list */
#all-links {}

#all-links ul {
  padding-left: 0;
  text-align: center;
}

#all-links ul li {
  list-style-type: none;
  padding: 5px 3px;
  border-bottom: 3px white solid;
}

#all-links ul li:nth-child(odd) {
  background-color: #fbfbfb;
}

#all-links ul li:nth-child(even) {
  background-color: white;  
}

#all-links ul li span.fa-window-close {
  cursor: pointer;
  padding-right: 0;
  font-size: 1.3em;
}

#all-links .edit-link {  
  cursor: pointer;
  border-style: groove;
  border-color: #e3f2ec;
  border-radius: 5px;
}
