{% extends 'lynx/base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block head %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>LyNX</h1>
      <sub>Keep track of all kinds of links</sub>
    </div>
  </div>
{% endblock head %}

{% block body %}
  <form action="{{ path("lynx_post_link") }}" method="POST">
    <div class="form-group">
      <label for="new-link">Add link</label>
      <input type="text" class="form-control" id="new-link">
    </div>
    <button type="submit" class="btn btn-primary">Add link</button>
  </form>
{% endblock %}
