{% extends 'lynx/base.html.twig' %}

{% block title %}Hello peeps!{% endblock %}

{% block head %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>LyNX</h1>
      <sub>Keep track of all kinds of links</sub>
    </div>
  </div>
{% endblock head %}

{% block body %} 
  
  <div id="all-links" class="bs-glyphicons">
    <hr>
    <h2>Lijst</h2>
    {{ render( controller(
    'App\\Controller\\LynxController::show_links_embed'
      )  ) }}
  </div>
  
{% endblock body %}
